<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Query Plan Visualised Tool</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<div id="sidebar">
  <br>
  <br>
  <button id="sidebar-btn" onclick="redirectToMainPage()">Main</button><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button id="sidebar-btn" onclick="redirectToDBPage()">DB</button><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button id="sidebar-btn" onclick="redirectToHistoryPage()">History</button><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button id="sidebar-btn" onclick="redirectToInfoPage()">Info</button>
</div>
<div id="header">
  <h1>SQLite Query Visualised Tool</h1>
</div>

<div id="main-content">

</div>

<script src="static/js/btnScript.js"></script>
</body>
</html>
